# Compiler files
.cache/
cache/
out/
cache_hardhat/
cache_hardhat-zk/
artifacts/
artifacts-zk/
.DS_Store

# Ignores development broadcast logs
broadcast/
tmp/
*.log


# Dotenv file
.env

# Editor files
.vscode
node_modules